* {
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    cursor: pointer;
}

span {
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.btn_a {
    margin-top: 100px;
    margin-left: 100px;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgb(96, 96, 110);
    background-color: rgba(116, 116, 117, 0.6);
}

.btn_a:hover {
    background-color: rgb(117, 151, 150);
}

.modal {
    width: 150px;
    height: 110px;
    margin-top: 25px;
    margin-left: 75px;
    border: 3px solid rgb(70, 70, 70);
    background-color: rgb(127, 153, 153);
    border-radius: 30px;
}

.modal:not(.show) {
    display: none;
}

.modal_window {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_modal {
    width: 100px;
    height: 30px;
    margin-left: 25px;
    border-radius: 30px;
    border: 3px solid rgb(207, 171, 206);
    background-color: rgba(246, 223, 240, 0.6);
}

.btn_modal:hover {
    background-color: rgb(237, 199, 230);
}